//Font
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$main-fontsize: 1.6rem;

//Färgschema
$primary-bg: #ff0000;
$dark: #7f0000;
$black: #000000;