//Font
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$main-fontsize: 1.6rem;

//Färgschema
$primary-bg: #ebe7d9;
$darkpink: white;
$bg-complement: complement(#cbcbcb);
$darkpink-complement: complement(#27ff40);
$black: #000000;
$primary-shadow: 0px 0px 5px black;