//Font
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$main-fontsize: 1.6rem;

//Färgschema
$primary-bg: #ebe7d9;
$darkbeige: #816F51;
$white: white;
$black: #000000;
$primary-shadow: 0px 0px 5px black;