@use "base";

//Rubriker
.h {
    text-align: center;
    margin-bottom: 0.5rem;
}

@mixin heading-size ($size) {
    @if $size ==1 {
        /*Textstorlek 32px som standard*/
        font-size: 3.2rem;
    }

    @else if $size ==2 {
        /*Textstorlek 24 som standard*/
        font-size: 2.4rem;
    }

    @else {
        /*Textstorlek 20px som standard*/
        font-size: 2rem;
    }
}

//Knappar
.button {
    font-size: base.$main-fontsize;
    font-family: base.$font-stack;
    border-style: outset;
    border-width: 10px;
    border-color: base.$darkpink;
    background-color: base.$darkpink;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button:hover {
    border-style: inset;
}