@use "base";
@use "component";

/*Regler för hela webbplatsen*/
html {
    /*62,5% av 16px ger 10px*/
    font-size: 62.5%;
}

body {
    /*Textstorlek 16px som standard*/
    font-size: base.$main-fontsize;
    line-height: 1.5;
    font-family: base.$font-stack;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: base.$primary-bg;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

h1 {
    /*Textstorlek 32px som standard*/
    @include component.heading-size(1);
    @extend .h;
}

h2 {
    /*Textstorlek 24 som standard*/
    @include component.heading-size(2);
    @extend .h;
}

h3 {
    /*Textstorlek 20 som standard*/
    @include component.heading-size(3);
    @extend .h;
}

.link {
    color: base.$white;
}

#logout {
    text-decoration: underline;
    cursor: pointer;
}

main {
    grid-area: 1/1/2/2;
}

#down {
    min-height: calc(100vh - 100px);
    margin-top: 100px;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 85%;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

    #logo img {
        max-width: 200px;
        width: 100%;
    }

    #logo {
        grid-area: 1/1/2/2;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 5px;
    }
}

.headerBg {
    background-color: base.$darkbeige;
    box-shadow: base.$primary-shadow;
}

/*Regler för huvudmeny*/
#huvudmeny {
    grid-area: 1/2/2/4;
    text-align: right;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;

    ul {
        float: right;
        list-style: none;
        margin: 0;
    }

    li {
        float: left;
    }

    #adminLink {
        display: none;
    }

    a {
        font-size: 2.0rem;
        display: inline-block;
        color: base.$black;
        text-decoration: none;
        padding: 25px;
        margin-right: 5px;
    }

    a:hover {
        background-color: base.$white;
        border-radius: 5px;
    }

    a.active {
        background-color: base.$white;
        border-radius: 5px;
    }

    #closemenu {
        /*Knappen visas inte i ursprungsläget*/
        display: none;
        width: 100%;
        text-align: left;
        background-color: base.$darkbeige;
        color: base.$black;
        padding: 30px;
        border-style: none;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        cursor: pointer;
    }
}

#openmenu {
    /*Knappen visas inte i ursprungsläget*/
    display: none;
    width: 95%;
    height: 90px;
    margin: auto;
    background-color: base.$darkbeige;
    color: base.$black;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/*Regler för skärmstorlekar med en maxbredd på 900px. Huvudmenyn blir annorlunda. Det blir en meny som ligger till höger på sidan och som täcker hela fönstrets view height. 
Länkarna ligger i en lista istället för på rad.*/
@media screen and (max-width: 900px) {
    header {
        grid-template-columns: 30% 50% 20%;
    }

    #huvudmeny {
        /*Menyn visas inte i startläget. För att menyn ska visas måste man klicka på "Meny"-knappen. Denna funktion skapas med hjälp av 
        JavaScript.*/
        display: none;
        background-color: base.$darkbeige;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        text-align: left;

        ul {
            padding: 0;
            float: none;
        }

        li {
            float: none;
            display: block;
        }

        a {
            display: block;
            width: 100%;
            padding: 30px;
            border-style: none;
        }

        a:hover {
            border-style: none;
            background-color: base.$white;
        }

        #closemenu {
            /*Knappen visas*/
            display: block;
        }

        #closemenu:hover {
            background-color: base.$white;
        }
    }

    #openmenu {
        /*Knappen visas*/
        display: block;
        grid-area: 1/3/2/4;
    }

    #openmenu:hover {
        background-color: base.$white;
    }

    #menutext {
        display: none;
    }
}

/*Slut på regler för huvudmeny*/
footer {
    grid-area: 2/1/3/2;
    align-self: end;
    background-color: base.$darkbeige;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    box-shadow: base.$primary-shadow;

    #logout {
        display: none;
    }

    #contactContainer {
        grid-area: 1/1/2/2;
        margin: 0 auto;
    }

    #timeContainer {
        grid-area: 1/2/2/3;
        margin: 0 auto;
    }

    #adminContainer {
        grid-area: 1/3/2/4;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    footer {
        grid-template-columns: 100%;

        #contactContainer {
            grid-area: 1/1/2/2;
        }

        #timeContainer {
            grid-area: 2/1/3/2;
        }

        #adminContainer {
            grid-area: 3/1/4/2;
        }
    }
}

/*Slut på regler för hela webbplatsen*/

/*Regler för startsidan*/

#heroContainer {
    position: relative;
}

#heroImg {
    max-width: 100vw;
}

#heroText {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 0 auto;
    width: 80%;

    #menuHeading {
        grid-area: 1/1/2/3;
    }

    #menuContainer {
        grid-area: 2/1/3/3;
    }

    #aboutHeading {
        grid-area: 3/1/4/3;
    }

    #aboutImg {
        grid-area: 4/1/5/2;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        border-color: base.$darkbeige;
    }

    #aboutText {
        grid-area: 4/2/5/3;
        padding-top: 10px;
        padding-left: 10px;
        margin-block-start: 0;
        text-align: center;
        margin: 0 auto;
    }

    #contactHeading {
        grid-area: 5/1/6/3;
    }

    #mapText {
        grid-area: 6/1/7/3;
        text-align: center;
    }

    #mapContainer {
        grid-area: 7/1/8/3;
    }

    @media screen and (max-width: 900px) {

        #aboutImg {
            grid-area: 5/1/6/3;
            margin-right: 0;
        }

        #aboutText {
            grid-area: 4/1/5/3;
            padding-left: 0;
        }

        #contactHeading {
            grid-area: 6/1/7/3;
        }

        #mapText {
            grid-area: 7/1/8/3;
            text-align: center;
        }

        #mapContainer {
            grid-area: 8/1/9/3;
        }
    }
}

/*Slut på regler för startsidan*/

/*Regler för "MENY"*/
#menuContainer {
    background-color: base.$darkbeige;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 5px;
}

.tabBtn {
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.tabBtn button {
    font-size: 2rem;
    font-family: base.$font-stack;
    background-color: base.$darkbeige;
    color: base.$black;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tabBtn button:hover {
    background-color: base.$white;
}

.tabBtn button.active {
    background-color: base.$white;
}

#itemContainer {
    display: block;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}

.tabContent {
    display: none;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
}

#savoury {
    background-image: url("/src/images/savoury.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

#sweet {
    background-image: url("/src/images/sweet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

#drink {
    background-image: url("/src/images/drink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

div.itemElement {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

@media screen and (max-width: 900px) {
    div.itemElement {
        width: 90%;
        margin: 10 auto;
    }
}

.drinkText {
    text-align: left;
    padding-left: 10px;
}

.deleteBtn,
.editBtn,
.saveBtn {
    @extend .button;
    font-size: base.$main-fontsize;
}

span.name {
    font-weight: bold;
}

span.description {
    font-style: italic;
}

span.price {
    font-weight: bold;
}

/*Slut på regler för "MENY"*/

/*Regler för "OM OSS"*/
#aboutText {
    max-width: 450px;
}

/*Slut på regler för "OM OSS"*/

/*Regler för "HITTA HIT"*/
#map {
    margin: auto;
    height: 400px;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: base.$darkbeige;
    z-index: 1;
}

/*Slut på regler för "HITTA HIT"*/

/*Regler för sidan "ADMIN"*/
#adminFooter {
    grid-area: 2/1/3/2;
    align-self: end;
    display: block;
}

form {
    font-family: base.$font-stack;
    font-size: base.$main-fontsize;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: base.$darkbeige;
    width: 80%;
    margin: auto;
    margin-top: 20px;

    input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        border-style: solid;
        border-color: base.$darkbeige;
        border-width: 2px;
    }

    select {
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        border-style: solid;
        border-color: base.$darkbeige;
        border-width: 2px;
    }
}

#submit,
#reset {
    @extend .button;
}

#adminHeading {
    width: 80%;
    margin: auto;
}

#adminText {
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
    width: 80%;
    margin: auto;
}

#logoutAdmin {
    margin: 0 auto;
    background-color: base.$darkbeige;
    width: 100vw;
    text-align: center
}

/*Slut på regler för sidan "ADMIN"*/

/*Regler för sidan "LOGGA IN"*/
#logoDiv {
    margin: 0 auto;
    display: grid;
    place-items: center;
}

#logoLogin img {
    margin-top: 100px;
    max-width: 200px;
    width: 100%;
}

.submit,
.reset {
    @extend .button;
}

/*Slut på regler för sidan "LOGGA IN"*/